* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0,0,0);
    position: relative;
}
nav {
    padding: 1em;
}

.logo {
    width: 80px;
    overflow: hidden;
    color: rgb(255, 0, 0);
    fill: currentColor;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
    margin-bottom: auto;
}

.signin-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0);
    width: 100%;
    padding: 1rem;
    padding-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.header-text {
    padding-bottom: 2rem;
}

.email-input {
    background-color: rgb(60, 60, 60);
    color: rgb(174, 174, 174);
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 4em;
    padding: 0 2em;
    margin-bottom: 1rem;
}

.password-input {
    background-color: rgb(60, 60, 60);
    color: rgb(174, 174, 174);
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 4em;
    padding: 0 2em;
    margin-bottom: 1rem;
}

.form-submit {
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    height: 3em;
    margin-top: 1.5rem;
}

.remember-me-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 13px;
    color: rgb(180, 180, 180);
}

.checkbox:checked {
    accent-color: grey;
}

.need-help {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

.footer-text {
    color: rgb(160, 160, 160);
}

.signup-now {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.signup-now:hover {
    text-decoration: underline;
}

.footer-text-1 {
    font-size: 14px;
}

.learn-more {
    text-decoration: none;
}

.learn-more:hover {
    text-decoration: underline;
}


.footer-header {
    padding: 2em 1em;
}

.footer-header a {
    text-decoration: none;
    color: rgb(150, 150, 150);
}

.footer-header a:hover {
    text-decoration: underline;
}

.footer-links {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 1em;
    padding-bottom: 2em;
    list-style-type: none;
}

.footer-links a {
    color: rgb(150, 150, 150);
    font-size: 13px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links li {
    padding-bottom: 10px;
}

.footer-lang-select {
    margin: 1em;
    margin-bottom: 4em;
    padding: 1em;
    background-color: rgba(0,0,0, 0.5);
    color: rgb(150, 150, 150);
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,.2);
}

@media only screen and (min-width: 740px) {
    body {
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6),  rgba(0,0,0,0.6)), url(../assets/signin-background.jpg);
    }
    nav {
        padding-top: 2em;
        padding-left: 4em;
        padding-bottom: 2em;
    }
    .logo {
        width: 180px;
    }
    .form-wrapper {
        height: 100%;
        align-items: start;
    }
    .signin-form {
        width: 20%;
        height: 70%;
        padding: 4em;
        background-color: rgba(0,0,0, 0.7);
    }
    .footer-text {
        padding-top: 2em;
    }
    footer {
        background-color: rgba(0,0,0, 0.8);
        padding: 0 16em;
    }
    .footer-links {
        grid-template-columns: auto auto auto auto;
    }
    hr {
        display: none;
    }
}